.posts {
    width: 100%;
    &__row--top,
    &__row--bottom  {
    display: grid;
    }
}

@media (min-width:500px){
    .posts {
        &__row--top,
        &__row--bottom {
        grid-template-columns: 1fr 50%;
        }

    }
  }
  @media (min-width:800px){
    .posts {
        &__row--top {
        grid-template-columns: 1fr 60%;
        }
        &__row--bottom {
            grid-template-columns: 60% 1fr ;
            }
    }
  }