.header {
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 25px;
    width: 100%;
    display: flex; 
    padding-top: 25px;
    &__logo {
        margin-left: 25px;
        text-transform: uppercase;
        font-weight: bold;
    }
    &__social {
        margin-left: calc(50% - 177px);
        a {
            padding: 0 2px;
        }
    }
}

.sticky {
    position: fixed;
    background: $color-back;
    opacity: 0.9;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
  }