.intro__buttons {
    display: flex; 
    flex-direction: column;
    a {
    border: 4px solid $color-button;
    padding: 10px;
    margin-bottom: 10px;
    color: $color-button;
    text-transform: uppercase;
    text-align: center; 
    }

}
@media (min-width:590px){
    .intro__buttons{
     /* réglage à partir de 500px et + */
     flex-direction: row;
     a {
         margin-right: 20px;
     }
    }
  }
  @media (min-width:800px){
    .intro__buttons{
     /* réglage à partir de 800px et + */
     flex-direction: row;
     a {
         margin-right: 20px;
     }
    }
  }