.contact-info {
    &__part {
      border-bottom: 1px solid lighten($color-bg-footer, 30);
      padding: 1em;
      position: relative;
  
      &:last-child {
        border: none;
      }
  
      .fa {
          color: lighten($color-bg-footer, 30);
          position: absolute;
      }
  
      &__label {
          font-weight: bold;
          margin-left: 1.5em;
          margin-bottom: 0.5em;
      }
  
      &__content {
          margin-left: 1.5em;
          font-size: 0.8em;
          color: lighten($color-bg-footer, 30);
  
          &.is-email {
              color: $color-text;
              font-weight: bold;
              text-transform: uppercase;
          }
      }
    }
  }
  