.details {
    margin: 0 50px;
    &__email{
        position: relative;  
        border-bottom: 1px solid $color-form-light;
        &--button {
            position: absolute;
            top: -5px;
            left: -30px;
            }
    }
    &__phone{
        position: relative; 
        border-bottom: 1px solid $color-form-light; 
        &--button {
            position: absolute;
            top: -5px;
            left: -30px;
            }
    }
    &__address{
        position: relative;
        &--button {
            position: absolute;
            top: -5px;
            left: -30px;
            }
    }
    h4 {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    
    h5 {
        font-weight: normal;
        color: $color-form-light;
        margin-bottom: 30px;
        line-height: 20px;
    }
    
    .fa {
        color: $color-form-light;
    }
}

@media (min-width:1000px){
    .details {
        width: 40%;
    }

}



