.intro {
    min-height: 100vh;
    background-image: url('../assets/images/see.jpg');
    background-size: cover;
    background-position: center center;
    // padding: 100px;
    &__container {
        width: calc(100% - 200px);
        padding-top: 300px;
        padding-left: 100px;
        padding-right: 100px;
        a {
            color: $color-main;
        }
    }
    &__title {
        font-size: $large-font-size;
        font-weight: bold;
        margin-bottom: 40px;
        width: 100%;
    }  
    &__content {
        margin-bottom: 40px;
        width: 100%;
    }

}

@media (min-width:700px){
   
    .intro {
        &__title {
            width: 80%;
        }
        &__content {
            width: 80%;
        }
    }
  }
  @media (min-width:1000px){
    .intro {
        &__container {
            width: calc(90% - 200);
            padding-top: 400px;
        }
        &__title {
            width: 40%;
        }
        &__content {
            width: 40%;
        }
    }
  }